h1 {
  text-align:center;
}
.week {
  display:flex;
  justify-content:center;
  width:100%;
}
.day {
  width:10%;
  height:50px;
  text-align:center;
  border:2px solid;
  padding-top:2%;
  margin:0% 2% 2% 0%;
}
.day:hover {
  cursor:pointer;
  background-color:lightgray;
}
.add {
  display:flex;
  justify-content:center;
}
button {
  width:10%;
  text-align:center;
  font-size:20px;
  border:2px solid;
  padding: 1% 0% 1% 0%;
  margin:0 auto;
}
.schedule {
  display:flex;
  justify-content:center;
  flex-direction:column;
}
table {
  margin:0 auto;
  width:80%;
  justify-content:center;
  border:2px solid;
  border-collapse:collapse;
}
#time {
  width:29%;
  height:30px;
}
#description {
  width:69%;
  height:30px;
}
th {
  height:30px;
  background-color:lightgray;
}
 tr, td , th{
  height:20px;
  width:30%;
  border:2px solid;
}
tr:nth-child(even) {
  background-color:lightblue;
}
